<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
      <img src="../../../assets/logo1.png"  height="50" alt="">
  </a>
    <div *ngIf="isAuthenticated(); else elseBlock">
        <div class="navbar-text mr-2">
            {{getUserName()}}
        </div>
        <button class="btn btn-sm btn-outline-secondary" type="button"
         (click)="logout()">Log Off</button>
    </div>
    <ng-template #elseBlock>
        <button class="btn btn-sm btn-outline-secondary" type="button" (click)="login()">Login</button>
    </ng-template>
</nav>

