<div class="card course" appStatusCourse [createdDate]="course.creationDate">
  <div class="card-body">
      <div class="space-between">
          <div class="mr-3">
              <div class="space-between">
                  <div class="inline">
                    <h5 class="card-title">{{course.name | uppercase }}</h5>
                    <i class="fa fa-star" *ngIf="course.isTopRated"
                        [ngClass]="{'star': true}"></i>
                  </div>
                  <div class="inline">
                      <h6 class="card-subtitle mb-2 mr-5">{{course.length | duration}}</h6>
                      <h6 class="card-subtitle mb-2">{{course.creationDate | date:'MM.dd.yyyy'}}</h6>
                  </div>
              </div>
              <p class="card-text">{{course.description}}</p>
          </div>
          <div class="action-btns">
              <button class="btn btn-primary btn-sm mb-3" (click)="edit()">Edit</button>
              <button class="btn btn-danger btn-sm" (click)="delete(content)">Delete</button>
          </div>
      </div>
  </div>
</div>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
      <button type="button" class="close" aria-label="Close" (click)="d()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        Do you really want to delete this course? 
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="c()">Yes</button>
      <button type="button" class="btn btn-outline-dark" (click)="d()">No</button>
    </div>
  </ng-template>
