<app-header></app-header>
<app-login-page *ngIf="!isAuthenticated(); else elseBlock1"></app-login-page>
<ng-template #elseBlock1>
    <ng-container *ngIf="!isAddCoursePageOpen; else elseBlock2">
        <app-breadcrumbs></app-breadcrumbs>
        <app-courses (open)="openAddCoursePage($event)"></app-courses>
    </ng-container>
    <ng-template #elseBlock2>
        <app-add-course-page [course]="editedCourse" (close)="close()"></app-add-course-page>
    </ng-template>
</ng-template>
<app-footer></app-footer>
